html {
  font-size: 62.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
:root {
  --color-primary: #ff5500;
  --color-secondary: #ffb300;
  --color-button-main: #ff5500;
  --color-button-hover: #ff7C3a;
  --color-button-edit: #ebebeb;
  --color-background: #f5f5f5;
}
*{ 
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0px;
  line-height: 35px;
}
body{
  background-color: var(--color-background)
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
}

.container-content{
  display: flex;
  
}
.content-menu{
  padding-top: 10px;
  height: 100vh;
  flex-basis: 15%;
  color: var(--color-button-main);
  box-shadow: 1px 0px 4px 0 rgb(0 0 0 / 7%);
  background-color: rgb(255, 255, 255);
 
}
.menu > h3{

  font-size: 18px;
  
}
.menu > h3>i{
 margin-bottom: 3px;
 font-size: 20px;
}
.content-menu > ul{
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.content-menu > ul>li>ul{
  padding-left: 10px;
}
.menu-iframe{
  flex-basis: 85%;
  padding: 20px 20px;
}
.menu-iframe iframe{
 
  left:0;
  right:0; 
  margin:auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;   
}
