/* *{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

:root{
    --textmenu: rgb(255, 102, 0);
    --texthover:rgb(71, 71, 71);
    --background:#f6f6f6;
}
a{
    text-decoration: none;
    color: black;
}
.container-header{
    position: fixed;
    background-color:rgb(255, 153, 0);
    width: 100%;
    min-height: 70px;   
}
.header{

    position:absolute;
    left:0;
    right:0;
    margin:auto;
    background-image: url(../img/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    height: 100%;
    display: flex;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 7%);
   
}
.header-list{
    width: 100%;
    padding: 0 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
.header-menu{
    flex-basis: 50%;
    margin-top: 20px;
}

.header-icon{
    flex-basis: 20%;
}
.header-others{
    display: flex;
    height: 100%;
    flex-basis: 25%;
    align-items: center;
    justify-content:space-between;
}

.header-icon img{
    height: 65px;
    flex-basis: 20%;
}

.header-menu-list{
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header-menu-list > li> a{
   
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    
}
.menu-list-iteam > a:hover{
    color:var(--textmenu);
    padding: 5px 15px;
    border-radius: 15px;
    background-color:var(--texthover)
    
}

.header-others i {
    font-size: 25px;
    color:var(--textmenu);
    border-radius: 50%;
    padding: 10px;  
}
.header-others-account-info{
    position: relative;
    height: 45px;
    max-width: max-content;
    padding-right: 10px;
    flex-basis: 60%;
    background-color:white;
    border-radius: 23px;
}
.header-others-account-info a{
    
    display: flex;
    font-weight:800;
}
.header-others-account-info a >span{
    margin: auto;
}
.header-others-account-info a >img{
    height:45px;
    border-radius: 50%;
}
.header-others-account-info-container{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
    -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
    border-radius: 5px;
    width: 170px;
    margin-top: 10px;
    left: -35px;
    position: absolute;
    visibility: hidden;
    transition: 0.3s;
}
.header-others-account-info-block {
    border-bottom: 1px var(--texthover) solid;
    width: 100%;
    display: flex;
    align-items:center;
    padding-bottom: 3px;
    padding: 3px ;
}
.header-others-account-info-block >i{
    flex-basis: 20%;
    font-size: 14px;
    color: var(--textmenu);
   
}
.header-others-account-info-block>bdo{
    margin-left: 0px;
    flex-basis: 80%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.header-others-account-info:hover .header-others-account-info-container {
    display: block;
    visibility: visible;
}
.container-content{
    display: flex;

}
.content-menu{
   flex-basis: 15%;
}
.menu-iframe{
    flex-basis: 85%;
}
.container-content{
    width: 100%;   
}
.container-content iframe{
    left:0;
    right:0;
    margin:auto;
    padding-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    height: 100vh;
    display: flex;  
   
} */

*{
    padding: 0;
    margin: 0;
}
.main_container{
    width: 1500px;
    height: 1500px;
}

.header_container{
    top: 0;
    background-image: url(/img/background-img.gif);
    width: 1250px;
    height: 95px;
    margin-left: 6%;
    
}
/* .img_header{
    width: 100%;
    height: 100px;
} */
.centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.list_menu{
    width: 1500px;
    list-style-type: none;
    display: flex;
}
.list_menu li{
    padding-left: 6%;
}
/* li{
    display: inline;
} */
.img_icon{
    width: 250px;
}
.search{
    width: 550px;
    height: 50px;
    padding-top: 5%;
    
}
.search button:hover{
    color:white;
    background-color: #f5ae8b;
}

.type_search{
    width: 450px;
    height: 40px;
    padding-left: 5%;
    border-radius: 20px;
    border: none;
    color: grey;
    font-size: 15px;
}
.search i{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: grey;
}
.search button{
    position: absolute;
    margin-left: -7%;
    width: 100px;
    height: 43px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #fe7b39;
}
.img_account{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-left: -10%;
}
.li_avatar{
    padding-top: 1.5%;
    margin-left: 1%;
}
.avatar{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 30px;
}
.img_account button{
    margin-top: 1.5%;
    /* position: absolute; */
    width: 130px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 30px;
}
.btn_account:focus{
    background-color:#fe7b39 ;
    color: white;
    display: block;
    padding-left: 35%;
}
.bt
.img_account button:hover{
    background-color:#fe7b39 ;
    color: white;
}
.btn_account:focus .btn_down{
    background-color:#fe7b39 ;
    color: white;
    display: block;
    padding-left: 35%;
}
.btn_down{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}
.btn_down a{
    float: none;
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.style_icon{
    padding-top: 2%;
    margin-left: -9%;
    margin-right: 3%;
}
.icon{
    list-style-type: none;
    display: flex;
}
.icon li{
    margin-left: 10%;
}
.icon i{
    font-size: 40px;
    /* color: #fe7b39; */
}
.icon_width{
    margin-right: 2%;
}
.icon a:hover{
    color:#f5ae8b;
    /* background-color: #df9068; */
}
.icon a{
    background-color: #fdf4e3;
    border: none;
    color: #fe7b39;
}
.icon a:focus{
    /* background-color:#fe7b39 ; */
    color: #f5ae8b;
}

.navbar{
    overflow: hidden;
    background-color: #fe7b39;
    width: 1250px;
    height: 40px;
    margin-left: 6%;
    
}


/* .style_nav i:hover{
    color:#fe7b39;
    background-color: white;
} */
.navbar a{
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    /* font-size: 20px; */
    padding: 10px 10px 15px 10px;
}
.navbar a:hover{
    background-color: #f5ae8b;
}
.navbar a:focus{
    background-color: #f5ae8b;
}
.style_button_home{
    width: 60px;
    height: 40px;
    color: white;
    
    border: none;
}
.body_container{
    width: 1250px;
    margin-left: 6%;
    height: 800px;
}
